@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
}


.header {
    background-color: rgb(22, 32, 32);
    color: white;
    padding-bottom: 10rem;
    width: 100%;
 
}



nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(22, 32, 32);
   
}

nav h3{
    font-size: 2rem;
    
}

nav h3 span{
    color: rgba(236, 157, 8, 0.85); 
}

nav button{
    background-color:rgba(236, 157, 8, 0.85);  ;
    color: white;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
}

.header h1{
    text-align: center;
    margin-top: 85px;
    padding-top: 20px;
    font-size: 3rem;
}
.header p{
    text-align: center;
    margin-top: 5px;
    font-size: 1.5rem;
}

.main{
    width: 100%;
}
.main ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    
}

.main ul li{

    font-size: 1.2rem;
    font-weight:500;
    cursor: pointer;

}

.active{
    background-color:rgba(236, 157, 8, 0.85);  ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: change 0.3s linear;

}

@keyframes change{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-8px);
    }
}



.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;

}

.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    opacity: 1; /* Fully visible */
    transform: scale(1); /* Normal size */
    transition: opacity 0.5s ease, transform 0.5s ease
}




.card img{
    height: 500px;
    width: 100%;
    border-radius: 5px;
    
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 330px;
    margin-bottom: 20px;
}

.card-profile{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.card-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card-content p:nth-child(1){

    color:  rgba(236, 157, 8, 0.85); ;
    font-weight: bold;
    font-size: 1.2rem;

}



.footer{
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.footer p{
    font-size: 1.5rem;
    font-weight: 500;
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    font-size: 1.4rem;
}

.footer ul li:hover{
    color:rgba(236, 157, 8, 0.85); ;
}


@media screen and (min-width:600px) {

    .card-container{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;

        gap: 30px;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s linear;
    }
    .card:hover{
        transform: scale(1.05);
    }

    .footer{
        display: flex;
        justify-content: space-between;
        padding: 20px 100px ;
    }
    
}

